In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\addi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\addi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\addi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\addi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\addi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\addi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
import sqlite3

# Connect to the Chinook database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Create a cursor object
cursor = conn.cursor()

In [17]:
import pandas as pd

# Load Invoice table into pandas DataFrame
invoice_df = pd.read_sql_query("SELECT * FROM Invoice", conn)
print(invoice_df.head())

   InvoiceId  CustomerId          InvoiceDate           BillingAddress  \
0          1           2  2009-01-01 00:00:00  Theodor-Heuss-Straße 34
1          2           4  2009-01-02 00:00:00         Ullevålsveien 14
2          3           8  2009-01-03 00:00:00          Grétrystraat 63
3          4          14  2009-01-06 00:00:00           8210 111 ST NW
4          5          23  2009-01-11 00:00:00          69 Salem Street

  BillingCity BillingState BillingCountry BillingPostalCode  Total
0   Stuttgart         None        Germany             70174   1.98
1        Oslo         None         Norway              0171   3.96
2    Brussels         None        Belgium              1000   5.94
3    Edmonton           AB         Canada           T6G 2C7   8.91
4      Boston           MA            USA              2113  13.86

In [19]:
invoice_df.to_csv('Invoice.csv', index=False)

In [21]:
# Write a function to calculate total spent per customer.
def total_spent_per_customer(df):
    """
    Calculate total spent per customer.
    """
    result = df.groupby('CustomerId')['Total'].sum().reset_index()
    result.rename(columns={'Total': 'TotalSpent'}, inplace=True)
    return result

# Use the function
customer_spent_df = total_spent_per_customer(invoice_df)
print(customer_spent_df)

    CustomerId  TotalSpent
0            1       39.62
1            2       37.62
2            3       39.62
3            4       39.62
4            5       40.62
5            6       49.62
6            7       42.62
7            8       37.62
8            9       37.62
9           10       37.62
10          11       37.62
11          12       37.62
12          13       37.62
13          14       37.62
14          15       38.62
15          16       37.62
16          17       39.62
17          18       37.62
18          19       38.62
19          20       39.62
20          21       37.62
21          22       39.62
22          23       37.62
23          24       43.62
24          25       42.62
25          26       47.62
26          27       37.62
27          28       43.62
28          29       37.62
29          30       37.62
30          31       37.62
31          32       37.62
32          33       37.62
33          34       39.62
34          35       37.62
35          36       37.62
36          37       43.62
37          38       37.62
38          39       38.62
39          40       38.62
40          41       37.62
41          42       39.62
42          43       40.62
43          44       41.62
44          45       45.62
45          46       45.62
46          47       37.62
47          48       40.62
48          49       37.62
49          50       37.62
50          51       38.62
51          52       37.62
52          53       37.62
53          54       37.62
54          55       37.62
55          56       37.62
56          57       46.62
57          58       38.62
58          59       36.64

In [25]:
import json

# Parse a JSON file of user reviews.
with open('UserReviews.json', 'r') as file:
    user_reviews = json.load(file)

# Display each user review
for review in user_reviews:
    print(f"CustomerId: {review['CustomerId']} - Review: {review['Review']}")

CustomerId: 10 - Review: Great service!
CustomerId: 20 - Review: Good selection of tracks.
CustomerId: 30 - Review: Satisfied with purchase.