In [60]:
# Step 1: Import libraries
import pandas as pd
import sqlite3

# Step 2: Create in-memory SQLite database once
conn = sqlite3.connect(":memory:")

# Step 3: Read and load employee.csv
df_employee = pd.read_csv("./Store_Data/employee.csv")
df_employee.to_sql("employee", conn, index=False, if_exists="replace")

# Step 4: Read and load invoice.csv
df_invoice = pd.read_csv("./Store_Data/invoice.csv")
df_invoice.to_sql("invoice", conn, index=False, if_exists="replace")

# Step 3: Read and load employee.csv
df_employee = pd.read_csv("./Store_Data/customer.csv")
df_employee.to_sql("customer", conn, index=False, if_exists="replace")

59

In [56]:
# Q1: Find the most senior employee based on job title.
# Hint: Use the employee table and sort by the levels column in descending order.


# Run SQL query
result = pd.read_sql("SELECT first_name, last_name, levels FROM employee ORDER BY levels DESC", conn)
print(result)

  first_name last_name levels
0      Mohan     Madan     L7
1     Andrew     Adams     L6
2      Nancy   Edwards     L4
3    Michael  Mitchell     L3
4     Robert      King     L2
5      Laura  Callahan     L2
6       Jane   Peacock     L1
7   Margaret      Park     L1
8      Steve   Johnson     L1

In [45]:
# Q2: Determine which countries have the most invoices.
# Hint: Group the invoice data by billing_country, then count and sort the results.

# Run SQL query
result = pd.read_sql("SELECT billing_country, COUNT(*) AS invoice_count FROM invoice GROUP BY billing_country ORDER BY invoice_count DESC", conn)
print(result)

   billing_country  invoice_count
0              USA            131
1           Canada             76
2           Brazil             61
3           France             50
4          Germany             41
5   Czech Republic             30
6         Portugal             29
7   United Kingdom             28
8            India             21
9          Ireland             13
10           Chile             13
11           Spain             11
12         Finland             11
13          Sweden             10
14          Poland             10
15     Netherlands             10
16         Hungary             10
17         Denmark             10
18       Australia             10
19          Norway              9
20           Italy              9
21         Austria              9
22         Belgium              7
23       Argentina              5

In [57]:
# Q3: Identify the top 3 invoice totals.
# Hint: Sort the invoice table by the total column.

total = pd.read_sql("SELECT sum(total) AS Total FROM invoice ORDER BY total DESC LIMIT 3", conn)
print(total)

     Total
0  4709.43

In [58]:
# Q4: Find the city with the highest total invoice amount to determine the best location for
# a promotional event.

total = pd.read_sql("SELECT billing_city AS city, sum(total) AS Total FROM invoice ORDER BY total DESC LIMIT 3", conn)
print(total)

       city    Total
0  New York  4709.43

In [62]:
# Q5: Identify the customer who has spent the most money.
# Hint: Use a join between customer and invoice, group by customer_id, and sum
# the totals.

customer = pd.read_sql("""
SELECT 
    c.first_name, 
    c.last_name, 
    SUM(i.total) AS FinalTotal
FROM customer AS c
INNER JOIN invoice AS i ON c.customer_id = i.customer_id
GROUP BY c.customer_id
ORDER BY FinalTotal DESC
LIMIT 1
""", conn)

print(customer)

  first_name    last_name  FinalTotal
0  František  Wichterlová      144.54